
@font-face {
    font-family: sans;
    src: url(../font/iran-sans/iran-sans.eot) format('embedded-opentype'), url(../font/iran-sans/iran-sans.ttf) format('truetype'), url(../font/iran-sans/iran-sans.woff) format('woff');
}

* {
    direction: rtl;
    font-family: sans;
    
}
a {
    text-decoration:none;
    
}

li{
    list-style:none;
}

button {
    font-family: sans;
}

body {
    margin: 0;
}

.clearfix:after, .row:after { display: block; content: ''; clear: both; }

.floatRight {
    float: right;
}

.dirRtl {
    direction: rtl;
}

.textRight {
    text-align: right;
}

.padding10 {
    padding: 10px;
}

.bgColorHighlight {
    background-color: #74c9d4;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

[class^='col'] { float: right; }

.col01 { width: 8.333333% }
.col02 { width: 16.666666% }
.col03 { width: 25% }
.col04 { width: 33.333333% }
.col05 { width: 41.666666% }
.col06 { width: 50% }
.col07 { width: 58.333333% }
.col08 { width: 66.666666% }
.col09 { width: 75% }
.col10 { width: 83.333333% }
.col11 { width: 91.666666% }
.col12 { width: 100% }



/* -------------------------------- Button -------------------------------- */

input, button {
    font-family: sans;
}


/*.button {
    background-color: #444;
    color: #fff;
    border: 0;
    cursor: pointer;
    transition: ease 0.3s;
    padding: 10px;
    border-radius: 3px;
    font-size: 14px;
    position: relative;
}

.button:after {
    display: none;
    position: absolute;
    content: attr(details);
    width: 100px;
    background-color: #444;
    bottom: 0;
    margin-bottom: -37px;
    padding: 10px;
    border-radius: 3px;
}

.button:hover:after {
    display: block;
}

.button-success { background-color: #558B2F; }

.button-success:hover { background-color: #33691E; }

.button-info { background-color: #03a9f4; }

.button-info:hover { background-color: #2196f3; }*/

/* -------------------------------- Button -------------------------------- */


/* Table */
.table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    text-align: center;
}

.table thead {
    background-color: #eee;
}

.table tfoot {
    background-color: #666;
    color: #fff;
}

.table tbody tr {
    transition: 0.3s ease;
}

.table tbody tr:hover {
    background-color: #cddc39;
}

.table th {
    border: 1px solid #222;
    padding: 10px;
    text-align: center;
}

.table td {
    border: 1px solid #888;
    text-align: center;
}

/* Table */